<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{ this.title }}</h2>
                    </header>
                    <p>
                        {{ this.content }}
                    </p>


                    <small class="author">
                        {{ this.author.fullName }}
                    </small>
                    <small >
                        likes:{{ this.likes.length }}
                    </small>
                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs"

                               href="/article/details/{{this.id}}">Read more &raquo;</a>
                            <a class="btn btn-default btn-xs"

                               href="/article/likes/{{this.id}}">like</a>

                            <a class="btn btn-default btn-xs"

                               href="/article/look/likes/{{this.id}}">look likes</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>